@{
    ViewBag.Title = "View1";
    Layout = "~/Views/shared/_VisitorLayout.cshtml";
}

 <!-- start cover-->
<section class="coverpic">
    <div class="container">
        
            <section class="covercontent text-center">
                <h1 class="covertext text-center">CAR RENT</h1>
                <h2 class="covcont">Hello, You wolud like to rent a car .. it's here</h2><br>
            </section>
        </div>
</section>
<!-- End cover-->
<!-- start benifits of registration section-->
<section class="reg">
    <div class="regdiv">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="bor">WHY TO REGISTER IN OUR SITE</h2>
                    <ul class="liststyle">
                        <li><strong> is system that helps you to rent your dream cars.</strong></li>
                        <li>
                            <strong> advanced, Cheap, Modern, And attractive cars.</strong>
                        </li>
                        <li>
                            <strong>Book & Drive</strong>
                        </li>
                        <li>
                            <strong>Visit our site, Get your Car. Whatever it is.</strong> 
                        </li>
                        <li>
                            <strong>Insurance in case of accedents</strong>
                        </li>
                        <li>
                            <strong> We afford maintanence of car for any case.</strong>
                        </li>
                        <li>
                            <strong> Your car reach you wherever you are.</strong>
                        </li>
                        <li>
                            <strong> Our service 24/7.</strong>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6">
                    <img src="../images/reg.jpeg" class="reg-img">
                </div>
            </div> 
    </div>
</section>
<!-- End benifits of registration section-->
<!-- start Success stories section-->
<section class="success">
    <div class="succ">
        <!-- start testimonial section -->
        <section class="testimonial text-center">
            <div class="container news">
                <h1>SUCCESS STORIES</h1>
                <div id="carosel-testimonial" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <p class="lead">
                               GO-CAR is realy amazing site , the service is excellent , and you have cars that i never found in other place , Thank you GO-CAR
                            </p>
                            <span>Waheed</span>
                        </div>
                        <div class="item">
                            <p class="lead">
                                I proud being one of your clients , whenever i dream in a car..immediately and without hesitation go to your site, And i realy find it.
                            </p>
                            <span>Gamal</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end testimonial srction-->
    </div>
</section>
<!-- End Success stories section-->